In [47]:
import pymysql
import sqlalchemy as alch 
from getpass import getpass
import pandas as pd
import os

import warnings
warnings.filterwarnings("ignore")

In [48]:
birds=pd.read_csv("Data/bird_strikes.csv")

## EDA

In [49]:
birds.head(3)

,record_id,aircraft_type,airport_name,altitude_bin,aircraft_make_model,wildlife_number_struck,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,...,remains_of_wildlife_sent_to_smithsonian,remarks,wildlife_size,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total,feet_above_ground,number_of_people_injured,is_aircraft_large
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23T00:00:00,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,False,30736,1500.0,0,True
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,2001-07-25T00:00:00,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,True,0,0.0,0,False
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,2001-09-14T00:00:00,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,False,0,50.0,0,False

In [50]:
#birds.shape

In [51]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   record_id                                25558 non-null  int64
 1   aircraft_type                            25429 non-null  object
 2   airport_name                             25429 non-null  object
 3   altitude_bin                             25429 non-null  object
 4   aircraft_make_model                      25558 non-null  object
 5   wildlife_number_struck                   25429 non-null  object
 6   wildlife_number_struck_actual            25558 non-null  int64
 7   effect_impact_to_flight                  2078 non-null   object
 8   flightdate                               25429 non-null  object
 9   effect_indicated_damage                  25558 non-null  object
 10  aircraft_number_of_engines               25291 non-null  object
 11  aircraft_airline_operator                25429 non-null  object
 12  origin_state                             25109 non-null  object
 13  when_phase_of_flight                     25429 non-null  object
 14  conditions_precipitation                 2015 non-null   object
 15  remains_of_wildlife_collected            25558 non-null  bool
 16  remains_of_wildlife_sent_to_smithsonian  25558 non-null  bool
 17  remarks                                  20787 non-null  object
 18  wildlife_size                            25429 non-null  object
 19  conditions_sky                           25558 non-null  object
 20  wildlife_species                         25558 non-null  object
 21  pilot_warned_of_birds_or_wildlife        25429 non-null  object
 22  cost_total                               25558 non-null  int64
 23  feet_above_ground                        25429 non-null  float64
 24  number_of_people_injured                 25558 non-null  int64
 25  is_aircraft_large                        25429 non-null  object
dtypes: bool(2), float64(1), int64(4), object(19)
memory usage: 4.7+ MB

In [52]:
birds.isna().sum()

record_id                                      0
aircraft_type                                129
airport_name                                 129
altitude_bin                                 129
aircraft_make_model                            0
wildlife_number_struck                       129
wildlife_number_struck_actual                  0
effect_impact_to_flight                    23480
flightdate                                   129
effect_indicated_damage                        0
aircraft_number_of_engines                   267
aircraft_airline_operator                    129
origin_state                                 449
when_phase_of_flight                         129
conditions_precipitation                   23543
remains_of_wildlife_collected                  0
remains_of_wildlife_sent_to_smithsonian        0
remarks                                     4771
wildlife_size                                129
conditions_sky                                 0
wildlife_species                               0
pilot_warned_of_birds_or_wildlife            129
cost_total                                     0
feet_above_ground                            129
number_of_people_injured                       0
is_aircraft_large                            129
dtype: int64

### Duplicated Rows

In [53]:
birds.duplicated().sum()

0

In [54]:
duplicados=birds.duplicated()  #No hay datos duplicados
datos_duplicados=birds[duplicados]
datos_duplicados.head(3)

Empty DataFrame
Columns: [record_id, aircraft_type, airport_name, altitude_bin, aircraft_make_model, wildlife_number_struck, wildlife_number_struck_actual, effect_impact_to_flight, flightdate, effect_indicated_damage, aircraft_number_of_engines, aircraft_airline_operator, origin_state, when_phase_of_flight, conditions_precipitation, remains_of_wildlife_collected, remains_of_wildlife_sent_to_smithsonian, remarks, wildlife_size, conditions_sky, wildlife_species, pilot_warned_of_birds_or_wildlife, cost_total, feet_above_ground, number_of_people_injured, is_aircraft_large]
Index: []

[0 rows x 26 columns]

In [55]:
birds.drop_duplicates(inplace=True) #Por las dudas..
birds.shape

(25558, 26)

In [56]:
birds["aircraft_type"].value_counts()

aircraft_type
Airplane    25429
Name: count, dtype: int64

In [57]:
birds["number_of_people_injured"].value_counts()

number_of_people_injured
0    25540
1       13
2        4
6        1
Name: count, dtype: int64

In [58]:
fila_lastimados=birds.loc[birds["number_of_people_injured"]==6]
print(fila_lastimados)

      record_id aircraft_type       airport_name altitude_bin  \
4426     225603      Airplane  ST LOUIS DOWNTOWN    < 1000 ft

     aircraft_make_model wildlife_number_struck  \
4426          LEARJET-24              11 to 100

      wildlife_number_struck_actual effect_impact_to_flight  \
4426                             33        Engine Shut Down

               flightdate effect_indicated_damage  ...  \
4426  2003-11-12T00:00:00           Caused damage  ...

     remains_of_wildlife_sent_to_smithsonian  \
4426                                   False

                                                remarks wildlife_size  \
4426  A/C INGESTED LITTLE BLACK BIRDS IN BOTH ENGS C...         Small

     conditions_sky      wildlife_species  pilot_warned_of_birds_or_wildlife  \
4426       No Cloud  Unknown bird - small                              False

      cost_total feet_above_ground number_of_people_injured is_aircraft_large
4426      926070             500.0                        6             False

[1 rows x 26 columns]

In [59]:
#!pip install mysql-connector-python

In [60]:
birds.isna().sum()

record_id                                      0
aircraft_type                                129
airport_name                                 129
altitude_bin                                 129
aircraft_make_model                            0
wildlife_number_struck                       129
wildlife_number_struck_actual                  0
effect_impact_to_flight                    23480
flightdate                                   129
effect_indicated_damage                        0
aircraft_number_of_engines                   267
aircraft_airline_operator                    129
origin_state                                 449
when_phase_of_flight                         129
conditions_precipitation                   23543
remains_of_wildlife_collected                  0
remains_of_wildlife_sent_to_smithsonian        0
remarks                                     4771
wildlife_size                                129
conditions_sky                                 0
wildlife_species                               0
pilot_warned_of_birds_or_wildlife            129
cost_total                                     0
feet_above_ground                            129
number_of_people_injured                       0
is_aircraft_large                            129
dtype: int64

In [61]:
birds.drop(columns=['effect_impact_to_flight', 'conditions_precipitation', 'remarks'], inplace=True)
birds.columns

Index(['record_id', 'aircraft_type', 'airport_name', 'altitude_bin',
       'aircraft_make_model', 'wildlife_number_struck',
       'wildlife_number_struck_actual', 'flightdate',
       'effect_indicated_damage', 'aircraft_number_of_engines',
       'aircraft_airline_operator', 'origin_state', 'when_phase_of_flight',
       'remains_of_wildlife_collected',
       'remains_of_wildlife_sent_to_smithsonian', 'wildlife_size',
       'conditions_sky', 'wildlife_species',
       'pilot_warned_of_birds_or_wildlife', 'cost_total', 'feet_above_ground',
       'number_of_people_injured', 'is_aircraft_large'],
      dtype='object')

In [62]:
birds.dropna(inplace=True)
birds.isna().sum()

record_id                                  0
aircraft_type                              0
airport_name                               0
altitude_bin                               0
aircraft_make_model                        0
wildlife_number_struck                     0
wildlife_number_struck_actual              0
flightdate                                 0
effect_indicated_damage                    0
aircraft_number_of_engines                 0
aircraft_airline_operator                  0
origin_state                               0
when_phase_of_flight                       0
remains_of_wildlife_collected              0
remains_of_wildlife_sent_to_smithsonian    0
wildlife_size                              0
conditions_sky                             0
wildlife_species                           0
pilot_warned_of_birds_or_wildlife          0
cost_total                                 0
feet_above_ground                          0
number_of_people_injured                   0
is_aircraft_large                          0
dtype: int64

In [63]:
birds.reset_index(drop=True, inplace=True)

### Connection to MySQL

In [64]:
import pymysql
import sqlalchemy as alch
import pandas as pd
from getpass import getpass

# Get password
password = getpass("Please enter your MySQL password: ")

# Set up connection
dbName = "wild"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

# Create engine
engine = alch.create_engine(connectionData)

In [65]:
# Check for non-numeric values in the 'aircraft_number_of_engines' column
non_numeric_engines = birds[~birds['aircraft_number_of_engines'].astype(str).str.isnumeric()]
print(non_numeric_engines[['aircraft_number_of_engines']].drop_duplicates())

     aircraft_number_of_engines
6466                          C

In [66]:
birds.aircraft_number_of_engines.value_counts()

aircraft_number_of_engines
2    22607
1     1240
3      530
4      369
C        1
Name: count, dtype: int64

In [67]:
birds['aircraft_number_of_engines'] = pd.to_numeric(birds['aircraft_number_of_engines'], errors='coerce')
birds_clean = birds.dropna(subset=['aircraft_number_of_engines'])
birds_clean['aircraft_number_of_engines'] = birds_clean['aircraft_number_of_engines'].astype(int)
print(birds_clean[['aircraft_number_of_engines']].drop_duplicates())

    aircraft_number_of_engines
0                            2
31                           3
38                           4
62                           1

In [68]:
aircraft_data = birds[['aircraft_type', 'aircraft_make_model', 'aircraft_number_of_engines', 'aircraft_airline_operator', 'is_aircraft_large']].drop_duplicates()
aircraft_data.to_sql(name='Aircraft', con=engine, if_exists='append', index=False)

1308

In [69]:
print(pd.read_sql_query("SELECT * FROM Aircraft LIMIT 10", engine))

   aircraft_id aircraft_type aircraft_make_model  aircraft_number_of_engines  \
0            1      Airplane           B-737-400                           2
1            2      Airplane               MD-80                           2
2            3      Airplane               C-500                           2
3            4      Airplane           B-737-400                           2
4            5      Airplane        CL-RJ100/200                           2
5            6      Airplane          LEARJET-25                           2
6            7      Airplane               A-320                           2
7            8      Airplane             DC-9-30                           2
8            9      Airplane               A-330                           2
9           10      Airplane               A-320                           2

  aircraft_airline_operator  is_aircraft_large
0               US AIRWAYS*                  1
1         AMERICAN AIRLINES                  0
2                  BUSINESS                  0
3           ALASKA AIRLINES                  1
4           COMAIR AIRLINES                  0
5                  BUSINESS                  0
6           UNITED AIRLINES                  0
7           AIRTRAN AIRWAYS                  0
8             AIRTOURS INTL                  0
9     AMERICA WEST AIRLINES                  0

In [70]:
import sqlalchemy as alch

password = getpass("Please enter your password: ")
connectionData = f"mysql+pymysql://root:{password}@localhost/wild"
engine = alch.create_engine(connectionData)

aircraft_df = birds_clean[['aircraft_type', 'aircraft_make_model', 'aircraft_number_of_engines', 'aircraft_airline_operator', 'is_aircraft_large']].drop_duplicates()
aircraft_df.to_sql(name='Aircraft', con=engine, if_exists='append', index=False)
print(pd.read_sql_query("SELECT * FROM Aircraft LIMIT 10", engine))

   aircraft_id aircraft_type aircraft_make_model  aircraft_number_of_engines  \
0            1      Airplane           B-737-400                           2
1            2      Airplane               MD-80                           2
2            3      Airplane               C-500                           2
3            4      Airplane           B-737-400                           2
4            5      Airplane        CL-RJ100/200                           2
5            6      Airplane          LEARJET-25                           2
6            7      Airplane               A-320                           2
7            8      Airplane             DC-9-30                           2
8            9      Airplane               A-330                           2
9           10      Airplane               A-320                           2

  aircraft_airline_operator  is_aircraft_large
0               US AIRWAYS*                  1
1         AMERICAN AIRLINES                  0
2                  BUSINESS                  0
3           ALASKA AIRLINES                  1
4           COMAIR AIRLINES                  0
5                  BUSINESS                  0
6           UNITED AIRLINES                  0
7           AIRTRAN AIRWAYS                  0
8             AIRTOURS INTL                  0
9     AMERICA WEST AIRLINES                  0

In [71]:
from getpass import getpass

password = getpass("Please enter your password: ")
db_name = "wild"
connection_data = f"mysql+pymysql://root:{password}@localhost/{db_name}"
engine = create_engine(connection_data)


airport_df = birds[['airport_name', 'origin_state']].drop_duplicates()
airport_df.to_sql(name='airport', con=engine, if_exists='append', index=False)

976

In [72]:
birds.shape

(24747, 23)

In [73]:
airport_df = birds[['airport_name', 'origin_state']].drop_duplicates().copy()
airport_df.to_sql(name='airport', con=engine, if_exists='append', index=False)

976

In [74]:
aircraft_df = birds[['aircraft_type', 'aircraft_make_model', 'aircraft_number_of_engines', 'aircraft_airline_operator', 'is_aircraft_large']].drop_duplicates().copy()

aircraft_df['aircraft_number_of_engines'] = pd.to_numeric(aircraft_df['aircraft_number_of_engines'], errors='coerce', downcast='integer')
aircraft_df.to_sql(name='aircraft', con=engine, if_exists='append', index=False)

1308

In [75]:
aircraft_count = pd.read_sql_query("SELECT COUNT(*) FROM aircraft", engine)
print(f"Number of rows in aircraft table: {aircraft_count.iloc[0, 0]}")

Number of rows in aircraft table: 14384

In [76]:
duplicate_aircraft_models = birds[birds.duplicated(subset=['aircraft_make_model'], keep=False)]
print(f"Number of duplicate aircraft models: {duplicate_aircraft_models['aircraft_make_model'].nunique()}")

Number of duplicate aircraft models: 226

In [77]:
birds.duplicated().sum()

0

### Mappings para la de wildlife

In [78]:
aircraft_id_map = pd.read_sql_query("SELECT aircraft_make_model, aircraft_id FROM aircraft", engine)
airport_id_map = pd.read_sql_query("SELECT airport_name, airport_id FROM airport", engine)

In [79]:
required_columns = [
    'record_id', 'aircraft_id', 'airport_id', 'wildlife_number_struck', 'wildlife_number_struck_actual',
    'effect_indicated_damage', 'when_phase_of_flight', 'remains_of_wildlife_collected',
    'remains_of_wildlife_sent_to_smithsonian', 'wildlife_size', 'conditions_sky', 'wildlife_species',
    'pilot_warned_of_birds_or_wildlife', 'cost_total', 'feet_above_ground', 'number_of_people_injured', 'flightdate'
]

missing_columns = set(required_columns) - set(birds.columns)
if missing_columns:
    print(f"Missing columns: {missing_columns}")
else:
    print("All required columns are present.")

Missing columns: {'airport_id', 'aircraft_id'}

In [80]:
password = getpass("Please enter your MySQL password: ")

In [81]:
password = getpass("Please enter your MySQL password: ")
dbName = "wild"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

aircraft_df = pd.read_sql_query("SELECT aircraft_id, aircraft_make_model FROM aircraft", engine)
airport_df = pd.read_sql_query("SELECT airport_id, airport_name FROM airport", engine)

In [82]:
birds_with_aircraft_id = pd.merge(birds, aircraft_df, left_on='aircraft_make_model', right_on='aircraft_make_model', how='left')

birds_final = pd.merge(birds_with_aircraft_id, airport_df, left_on='airport_name', right_on='airport_name', how='left')
wildlife_strike_df = birds_final[['record_id', 'aircraft_id', 'airport_id', 'wildlife_number_struck', 
                                  'wildlife_number_struck_actual', 'effect_indicated_damage', 
                                  'when_phase_of_flight', 'remains_of_wildlife_collected', 
                                  'remains_of_wildlife_sent_to_smithsonian', 'wildlife_size', 
                                  'conditions_sky', 'wildlife_species', 'pilot_warned_of_birds_or_wildlife', 
                                  'cost_total', 'feet_above_ground', 'number_of_people_injured', 
                                  'flightdate']]

print(wildlife_strike_df.head())

   record_id  aircraft_id  airport_id wildlife_number_struck  \
0     202152            1           1               Over 100
1     202152            1         977               Over 100
2     202152            1        1953               Over 100
3     202152            1        2929               Over 100
4     202152            1        3905               Over 100

   wildlife_number_struck_actual effect_indicated_damage when_phase_of_flight  \
0                            859           Caused damage                Climb
1                            859           Caused damage                Climb
2                            859           Caused damage                Climb
3                            859           Caused damage                Climb
4                            859           Caused damage                Climb

   remains_of_wildlife_collected  remains_of_wildlife_sent_to_smithsonian  \
0                          False                                    False
1                          False                                    False
2                          False                                    False
3                          False                                    False
4                          False                                    False

  wildlife_size conditions_sky       wildlife_species  \
0        Medium       No Cloud  Unknown bird - medium
1        Medium       No Cloud  Unknown bird - medium
2        Medium       No Cloud  Unknown bird - medium
3        Medium       No Cloud  Unknown bird - medium
4        Medium       No Cloud  Unknown bird - medium

  pilot_warned_of_birds_or_wildlife  cost_total  feet_above_ground  \
0                             False       30736             1500.0
1                             False       30736             1500.0
2                             False       30736             1500.0
3                             False       30736             1500.0
4                             False       30736             1500.0

   number_of_people_injured           flightdate
0                         0  2000-11-23T00:00:00
1                         0  2000-11-23T00:00:00
2                         0  2000-11-23T00:00:00
3                         0  2000-11-23T00:00:00
4                         0  2000-11-23T00:00:00

In [83]:
def clean_wildlife_number_struck(value):
    try:
        return int(value)  
    except ValueError:
        return None  

wildlife_strike_df['wildlife_number_struck'] = wildlife_strike_df['wildlife_number_struck'].apply(clean_wildlife_number_struck)

# Verify the changes
print(wildlife_strike_df['wildlife_number_struck'].head())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: wildlife_number_struck, dtype: float64

In [84]:
print(wildlife_strike_df.dtypes)

record_id                                    int64
aircraft_id                                  int64
airport_id                                   int64
wildlife_number_struck                     float64
wildlife_number_struck_actual                int64
effect_indicated_damage                     object
when_phase_of_flight                        object
remains_of_wildlife_collected                 bool
remains_of_wildlife_sent_to_smithsonian       bool
wildlife_size                               object
conditions_sky                              object
wildlife_species                            object
pilot_warned_of_birds_or_wildlife           object
cost_total                                   int64
feet_above_ground                          float64
number_of_people_injured                     int64
flightdate                                  object
dtype: object

In [85]:
# Function to clean 'wildlife_number_struck'
def clean_wildlife_number_struck(value):
    try:
        if isinstance(value, str):
            num_str = ''.join(filter(str.isdigit, value))
            return int(num_str) if num_str else None
        return int(value)  
    except (ValueError, TypeError):
        return None  

# Apply the cleaning function
wildlife_strike_df['wildlife_number_struck'] = wildlife_strike_df['wildlife_number_struck'].apply(clean_wildlife_number_struck)

# Check for NaN or default values
print(wildlife_strike_df['wildlife_number_struck'].head())
print(wildlife_strike_df['wildlife_number_struck'].isnull().sum())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: wildlife_number_struck, dtype: float64
3709265

In [86]:
print(wildlife_strike_df.dtypes)

record_id                                    int64
aircraft_id                                  int64
airport_id                                   int64
wildlife_number_struck                     float64
wildlife_number_struck_actual                int64
effect_indicated_damage                     object
when_phase_of_flight                        object
remains_of_wildlife_collected                 bool
remains_of_wildlife_sent_to_smithsonian       bool
wildlife_size                               object
conditions_sky                              object
wildlife_species                            object
pilot_warned_of_birds_or_wildlife           object
cost_total                                   int64
feet_above_ground                          float64
number_of_people_injured                     int64
flightdate                                  object
dtype: object

In [87]:
boolean_columns = ['remains_of_wildlife_collected', 'remains_of_wildlife_sent_to_smithsonian', 'pilot_warned_of_birds_or_wildlife']
for col in boolean_columns:
    wildlife_strike_df[col] = wildlife_strike_df[col].astype(int)

In [88]:
wildlife_strike_df['flightdate'] = pd.to_datetime(wildlife_strike_df['flightdate'], errors='coerce')

In [89]:
duplicate_records = wildlife_strike_df[wildlife_strike_df.duplicated(subset=['record_id'], keep=False)]
print(duplicate_records)

          record_id  aircraft_id  airport_id  wildlife_number_struck  \
0            202152            1           1                     NaN
1            202152            1         977                     NaN
2            202152            1        1953                     NaN
3            202152            1        2929                     NaN
4            202152            1        3905                     NaN
...             ...          ...         ...                     ...
20405815     319593        14380         211                     1.0
20405816     319593        14380        1187                     1.0
20405817     319593        14380        2163                     1.0
20405818     319593        14380        3139                     1.0
20405819     319593        14380        4115                     1.0

          wildlife_number_struck_actual effect_indicated_damage  \
0                                   859           Caused damage
1                                   859           Caused damage
2                                   859           Caused damage
3                                   859           Caused damage
4                                   859           Caused damage
...                                 ...                     ...
20405815                              1           Caused damage
20405816                              1           Caused damage
20405817                              1           Caused damage
20405818                              1           Caused damage
20405819                              1           Caused damage

         when_phase_of_flight  remains_of_wildlife_collected  \
0                       Climb                              0
1                       Climb                              0
2                       Climb                              0
3                       Climb                              0
4                       Climb                              0
...                       ...                            ...
20405815         Take-off run                              1
20405816         Take-off run                              1
20405817         Take-off run                              1
20405818         Take-off run                              1
20405819         Take-off run                              1

          remains_of_wildlife_sent_to_smithsonian wildlife_size  \
0                                               0        Medium
1                                               0        Medium
2                                               0        Medium
3                                               0        Medium
4                                               0        Medium
...                                           ...           ...
20405815                                        0        Medium
20405816                                        0        Medium
20405817                                        0        Medium
20405818                                        0        Medium
20405819                                        0        Medium

         conditions_sky       wildlife_species  \
0              No Cloud  Unknown bird - medium
1              No Cloud  Unknown bird - medium
2              No Cloud  Unknown bird - medium
3              No Cloud  Unknown bird - medium
4              No Cloud  Unknown bird - medium
...                 ...                    ...
20405815       No Cloud        Red-tailed hawk
20405816       No Cloud        Red-tailed hawk
20405817       No Cloud        Red-tailed hawk
20405818       No Cloud        Red-tailed hawk
20405819       No Cloud        Red-tailed hawk

          pilot_warned_of_birds_or_wildlife  cost_total  feet_above_ground  \
0                                         0       30736             1500.0
1                                         0       30736             1500.0
2                                         0       30736             1500.0
3                                         0       30736             1500.0
4                                         0       30736             1500.0
...                                     ...         ...                ...
20405815                                  0           0                0.0
20405816                                  0           0                0.0
20405817                                  0           0                0.0
20405818                                  0           0                0.0
20405819                                  0           0                0.0

          number_of_people_injured flightdate
0                                0 2000-11-23
1                                0 2000-11-23
2                                0 2000-11-23
3                                0 2000-11-23
4                                0 2000-11-23
...                            ...        ...
20405815                         0 2011-12-31
20405816                         0 2011-12-31
20405817                         0 2011-12-31
20405818                         0 2011-12-31
20405819                         0 2011-12-31

[20405820 rows x 17 columns]

In [90]:
wildlife_strike_df = wildlife_strike_df.drop_duplicates(subset=['record_id'])

In [91]:
from sqlalchemy import create_engine

In [92]:
password = getpass("Please enter your MySQL password: ")
dbName = "wild"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = create_engine(connectionData)

aircraft_query = "SELECT aircraft_id, aircraft_type FROM aircraft"
airport_query = "SELECT airport_id, airport_name FROM airport"

with engine.connect() as conn:
    aircraft_df = pd.read_sql(aircraft_query, conn)
    airport_df = pd.read_sql(airport_query, conn)

print(aircraft_df.head())
print(airport_df.head())

   aircraft_id aircraft_type
0            1      Airplane
1            2      Airplane
2            3      Airplane
3            4      Airplane
4            5      Airplane
   airport_id                 airport_name
0           1                 LAGUARDIA NY
1           2  DALLAS/FORT WORTH INTL ARPT
2           3            LAKEFRONT AIRPORT
3           4          SEATTLE-TACOMA INTL
4           5                 NORFOLK INTL

In [93]:
aircraft_mapping = dict(zip(aircraft_df['aircraft_type'], aircraft_df['aircraft_id']))
airport_mapping = dict(zip(airport_df['airport_name'], airport_df['airport_id']))

birds['aircraft_id'] = birds['aircraft_type'].map(aircraft_mapping)
birds['airport_id'] = birds['airport_name'].map(airport_mapping)

print(birds[birds['aircraft_id'].isna()])  
print(birds[birds['airport_id'].isna()])

Empty DataFrame
Columns: [record_id, aircraft_type, airport_name, altitude_bin, aircraft_make_model, wildlife_number_struck, wildlife_number_struck_actual, flightdate, effect_indicated_damage, aircraft_number_of_engines, aircraft_airline_operator, origin_state, when_phase_of_flight, remains_of_wildlife_collected, remains_of_wildlife_sent_to_smithsonian, wildlife_size, conditions_sky, wildlife_species, pilot_warned_of_birds_or_wildlife, cost_total, feet_above_ground, number_of_people_injured, is_aircraft_large, aircraft_id, airport_id]
Index: []

[0 rows x 25 columns]
Empty DataFrame
Columns: [record_id, aircraft_type, airport_name, altitude_bin, aircraft_make_model, wildlife_number_struck, wildlife_number_struck_actual, flightdate, effect_indicated_damage, aircraft_number_of_engines, aircraft_airline_operator, origin_state, when_phase_of_flight, remains_of_wildlife_collected, remains_of_wildlife_sent_to_smithsonian, wildlife_size, conditions_sky, wildlife_species, pilot_warned_of_birds_or_wildlife, cost_total, feet_above_ground, number_of_people_injured, is_aircraft_large, aircraft_id, airport_id]
Index: []

[0 rows x 25 columns]

In [94]:
table_name = 'wildlife_strike'

wildlife_strikes_data = birds[['record_id', 'aircraft_id', 'airport_id', 'wildlife_number_struck', 
                               'wildlife_number_struck_actual', 'effect_indicated_damage', 
                               'when_phase_of_flight', 'remains_of_wildlife_collected', 
                               'remains_of_wildlife_sent_to_smithsonian', 'wildlife_size', 
                               'conditions_sky', 'wildlife_species', 
                               'pilot_warned_of_birds_or_wildlife', 'cost_total', 
                               'feet_above_ground', 'number_of_people_injured', 'flightdate']]

wildlife_strikes_data.dropna(subset=['aircraft_id', 'airport_id'], inplace=True)

try:
    wildlife_strikes_data.to_sql(name=table_name, con=engine, if_exists='append', index=False)
    print("Data inserted into wildlife_strike table successfully!")
except Exception as e:
    print("Error inserting data:", e)

Error inserting data: (pymysql.err.DataError) (1366, "Incorrect integer value: 'Over 100' for column 'wildlife_number_struck' at row 1")
[SQL: INSERT INTO wildlife_strike (record_id, aircraft_id, airport_id, wildlife_number_struck, wildlife_number_struck_actual, effect_indicated_damage, when_phase_of_flight, remains_of_wildlife_collected, remains_of_wildlife_sent_to_smithsonian, wildlife_size, conditions_sky, wildlife_species, pilot_warned_of_birds_or_wildlife, cost_total, feet_above_ground, number_of_people_injured, flightdate) VALUES (%(record_id)s, %(aircraft_id)s, %(airport_id)s, %(wildlife_number_struck)s, %(wildlife_number_struck_actual)s, %(effect_indicated_damage)s, %(when_phase_of_flight)s, %(remains_of_wildlife_collected)s, %(remains_of_wildlife_sent_to_smithsonian)s, %(wildlife_size)s, %(conditions_sky)s, %(wildlife_species)s, %(pilot_warned_of_birds_or_wildlife)s, %(cost_total)s, %(feet_above_ground)s, %(number_of_people_injured)s, %(flightdate)s)]
[parameters: [{'record_id': 202152, 'aircraft_id': 14384, 'airport_id': 3905, 'wildlife_number_struck': 'Over 100', 'wildlife_number_struck_actual': 859, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Climb', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Medium', 'conditions_sky': 'No Cloud', 'wildlife_species': 'Unknown bird - medium', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 30736, 'feet_above_ground': 1500.0, 'number_of_people_injured': 0, 'flightdate': '2000-11-23T00:00:00'}, {'record_id': 208159, 'aircraft_id': 14384, 'airport_id': 3906, 'wildlife_number_struck': 'Over 100', 'wildlife_number_struck_actual': 424, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Landing Roll', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'Rock pigeon', 'pilot_warned_of_birds_or_wildlife': 1, 'cost_total': 0, 'feet_above_ground': 0.0, 'number_of_people_injured': 0, 'flightdate': '2001-07-25T00:00:00'}, {'record_id': 207601, 'aircraft_id': 14384, 'airport_id': 3907, 'wildlife_number_struck': 'Over 100', 'wildlife_number_struck_actual': 261, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Approach', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'No Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 0, 'feet_above_ground': 50.0, 'number_of_people_injured': 0, 'flightdate': '2001-09-14T00:00:00'}, {'record_id': 215953, 'aircraft_id': 14384, 'airport_id': 3908, 'wildlife_number_struck': 'Over 100', 'wildlife_number_struck_actual': 806, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Climb', 'remains_of_wildlife_collected': 1, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 1, 'cost_total': 0, 'feet_above_ground': 50.0, 'number_of_people_injured': 0, 'flightdate': '2002-09-05T00:00:00'}, {'record_id': 219878, 'aircraft_id': 14384, 'airport_id': 3909, 'wildlife_number_struck': 'Over 100', 'wildlife_number_struck_actual': 942, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Approach', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'No Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 0, 'feet_above_ground': 50.0, 'number_of_people_injured': 0, 'flightdate': '2003-06-23T00:00:00'}, {'record_id': 221697, 'aircraft_id': 14384, 'airport_id': 3910, 'wildlife_number_struck': 'Over 100', 'wildlife_number_struck_actual': 227, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Climb', 'remains_of_wildlife_collected': 1, 'remains_of_wildlife_sent_to_smithsonian': 1, 'wildlife_size': 'Small', 'conditions_sky': 'No Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 1481711, 'feet_above_ground': 150.0, 'number_of_people_injured': 0, 'flightdate': '2003-08-17T00:00:00'}, {'record_id': 236635, 'aircraft_id': 14384, 'airport_id': 3911, 'wildlife_number_struck': 'Over 100', 'wildlife_number_struck_actual': 320, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Approach', 'remains_of_wildlife_collected': 1, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 1, 'cost_total': 1483141, 'feet_above_ground': 100.0, 'number_of_people_injured': 0, 'flightdate': '2006-03-01T00:00:00'}, {'record_id': 207369, 'aircraft_id': 14384, 'airport_id': 3912, 'wildlife_number_struck': '2 to 10', 'wildlife_number_struck_actual': 9, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Take-off run', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'Rock pigeon', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 0, 'feet_above_ground': 0.0, 'number_of_people_injured': 0, 'flightdate': '2000-01-06T00:00:00'}  ... displaying 10 of 24747 total bound parameter sets ...  {'record_id': 319679, 'aircraft_id': 14384, 'airport_id': 3939, 'wildlife_number_struck': '1', 'wildlife_number_struck_actual': 1, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Landing Roll', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Medium', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'Unknown bird - medium', 'pilot_warned_of_birds_or_wildlife': 1, 'cost_total': 0, 'feet_above_ground': 0.0, 'number_of_people_injured': 0, 'flightdate': '2011-12-31T00:00:00'}, {'record_id': 319593, 'aircraft_id': 14384, 'airport_id': 4115, 'wildlife_number_struck': '1', 'wildlife_number_struck_actual': 1, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Take-off run', 'remains_of_wildlife_collected': 1, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Medium', 'conditions_sky': 'No Cloud', 'wildlife_species': 'Red-tailed hawk', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 0, 'feet_above_ground': 0.0, 'number_of_people_injured': 0, 'flightdate': '2011-12-31T00:00:00'}]]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [95]:
def convert_wildlife_number_struck(value):
    if isinstance(value, str):
        if value.lower() == 'over 100':
            return 101  
        else:
            try:
                return int(value)
            except ValueError:
                return None  
    return value

birds['wildlife_number_struck'] = birds['wildlife_number_struck'].apply(convert_wildlife_number_struck)

birds.dropna(subset=['wildlife_number_struck'], inplace=True)

wildlife_strikes_data = birds[['record_id', 'aircraft_id', 'airport_id', 'wildlife_number_struck', 
                               'wildlife_number_struck_actual', 'effect_indicated_damage', 
                               'when_phase_of_flight', 'remains_of_wildlife_collected', 
                               'remains_of_wildlife_sent_to_smithsonian', 'wildlife_size', 
                               'conditions_sky', 'wildlife_species', 
                               'pilot_warned_of_birds_or_wildlife', 'cost_total', 
                               'feet_above_ground', 'number_of_people_injured', 'flightdate']]

try:
    wildlife_strikes_data.to_sql(name='wildlife_strike', con=engine, if_exists='append', index=False)
    print("Data inserted into wildlife_strike table successfully!")
except Exception as e:
    print("Error inserting data:", e)

Error inserting data: (pymysql.err.IntegrityError) (1062, "Duplicate entry '202152' for key 'wildlife_strike.PRIMARY'")
[SQL: INSERT INTO wildlife_strike (record_id, aircraft_id, airport_id, wildlife_number_struck, wildlife_number_struck_actual, effect_indicated_damage, when_phase_of_flight, remains_of_wildlife_collected, remains_of_wildlife_sent_to_smithsonian, wildlife_size, conditions_sky, wildlife_species, pilot_warned_of_birds_or_wildlife, cost_total, feet_above_ground, number_of_people_injured, flightdate) VALUES (%(record_id)s, %(aircraft_id)s, %(airport_id)s, %(wildlife_number_struck)s, %(wildlife_number_struck_actual)s, %(effect_indicated_damage)s, %(when_phase_of_flight)s, %(remains_of_wildlife_collected)s, %(remains_of_wildlife_sent_to_smithsonian)s, %(wildlife_size)s, %(conditions_sky)s, %(wildlife_species)s, %(pilot_warned_of_birds_or_wildlife)s, %(cost_total)s, %(feet_above_ground)s, %(number_of_people_injured)s, %(flightdate)s)]
[parameters: [{'record_id': 202152, 'aircraft_id': 14384, 'airport_id': 3905, 'wildlife_number_struck': 101.0, 'wildlife_number_struck_actual': 859, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Climb', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Medium', 'conditions_sky': 'No Cloud', 'wildlife_species': 'Unknown bird - medium', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 30736, 'feet_above_ground': 1500.0, 'number_of_people_injured': 0, 'flightdate': '2000-11-23T00:00:00'}, {'record_id': 208159, 'aircraft_id': 14384, 'airport_id': 3906, 'wildlife_number_struck': 101.0, 'wildlife_number_struck_actual': 424, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Landing Roll', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'Rock pigeon', 'pilot_warned_of_birds_or_wildlife': 1, 'cost_total': 0, 'feet_above_ground': 0.0, 'number_of_people_injured': 0, 'flightdate': '2001-07-25T00:00:00'}, {'record_id': 207601, 'aircraft_id': 14384, 'airport_id': 3907, 'wildlife_number_struck': 101.0, 'wildlife_number_struck_actual': 261, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Approach', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'No Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 0, 'feet_above_ground': 50.0, 'number_of_people_injured': 0, 'flightdate': '2001-09-14T00:00:00'}, {'record_id': 215953, 'aircraft_id': 14384, 'airport_id': 3908, 'wildlife_number_struck': 101.0, 'wildlife_number_struck_actual': 806, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Climb', 'remains_of_wildlife_collected': 1, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 1, 'cost_total': 0, 'feet_above_ground': 50.0, 'number_of_people_injured': 0, 'flightdate': '2002-09-05T00:00:00'}, {'record_id': 219878, 'aircraft_id': 14384, 'airport_id': 3909, 'wildlife_number_struck': 101.0, 'wildlife_number_struck_actual': 942, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Approach', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'No Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 0, 'feet_above_ground': 50.0, 'number_of_people_injured': 0, 'flightdate': '2003-06-23T00:00:00'}, {'record_id': 221697, 'aircraft_id': 14384, 'airport_id': 3910, 'wildlife_number_struck': 101.0, 'wildlife_number_struck_actual': 227, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Climb', 'remains_of_wildlife_collected': 1, 'remains_of_wildlife_sent_to_smithsonian': 1, 'wildlife_size': 'Small', 'conditions_sky': 'No Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 1481711, 'feet_above_ground': 150.0, 'number_of_people_injured': 0, 'flightdate': '2003-08-17T00:00:00'}, {'record_id': 236635, 'aircraft_id': 14384, 'airport_id': 3911, 'wildlife_number_struck': 101.0, 'wildlife_number_struck_actual': 320, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Approach', 'remains_of_wildlife_collected': 1, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'European starling', 'pilot_warned_of_birds_or_wildlife': 1, 'cost_total': 1483141, 'feet_above_ground': 100.0, 'number_of_people_injured': 0, 'flightdate': '2006-03-01T00:00:00'}, {'record_id': 201162, 'aircraft_id': 14384, 'airport_id': 4148, 'wildlife_number_struck': 1.0, 'wildlife_number_struck_actual': 1, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Landing Roll', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Small', 'conditions_sky': 'Overcast', 'wildlife_species': 'Unknown bird - small', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 0, 'feet_above_ground': 0.0, 'number_of_people_injured': 0, 'flightdate': '2000-01-02T00:00:00'}  ... displaying 10 of 20229 total bound parameter sets ...  {'record_id': 319679, 'aircraft_id': 14384, 'airport_id': 3939, 'wildlife_number_struck': 1.0, 'wildlife_number_struck_actual': 1, 'effect_indicated_damage': 'No damage', 'when_phase_of_flight': 'Landing Roll', 'remains_of_wildlife_collected': 0, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Medium', 'conditions_sky': 'Some Cloud', 'wildlife_species': 'Unknown bird - medium', 'pilot_warned_of_birds_or_wildlife': 1, 'cost_total': 0, 'feet_above_ground': 0.0, 'number_of_people_injured': 0, 'flightdate': '2011-12-31T00:00:00'}, {'record_id': 319593, 'aircraft_id': 14384, 'airport_id': 4115, 'wildlife_number_struck': 1.0, 'wildlife_number_struck_actual': 1, 'effect_indicated_damage': 'Caused damage', 'when_phase_of_flight': 'Take-off run', 'remains_of_wildlife_collected': 1, 'remains_of_wildlife_sent_to_smithsonian': 0, 'wildlife_size': 'Medium', 'conditions_sky': 'No Cloud', 'wildlife_species': 'Red-tailed hawk', 'pilot_warned_of_birds_or_wildlife': 0, 'cost_total': 0, 'feet_above_ground': 0.0, 'number_of_people_injured': 0, 'flightdate': '2011-12-31T00:00:00'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

### Saving the cleaned dataframe

After all the cleaning and processing, I will save the dataframe in order to get a new csv file to load in Tableau (which is going to be the 
next part of this project)

In [23]:
# Save the clean dataframe into a csv file
birds.to_csv("Data/clean_birds.csv", index=False)

El DataFrame limpio ha sido guardado en Data/clean_birds.csv

Saving the dataframe into 3 csv files (one for each table) so that I can do Joins/Merges in Tableau and make the program work more efficiently

In [96]:
folder_path = 'Data'
# Create the folder if it doesn't exist
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Save the DataFrames to CSV files
airport_df.to_csv(os.path.join(folder_path, 'airport.csv'), index=False)
aircraft_df.to_csv(os.path.join(folder_path, 'aircraft.csv'), index=False)
wildlife_strikes_data.to_csv(os.path.join(folder_path, 'wildlife_strikes.csv'), index=False)

### Note

First I did the Joins in Tableau using the 3 csv files that were created recently above and also did the dashboard/story with the cleaned dataframe (without partitions). I end up using the cleaned dataframe because there were some issues with using the 3 csv files (for example with the origin state column, which is a crucial one)

(To create the Joins you just drag the airport and aircraft tables to the main one, which is wildlife_strikes_data)